{%extends 'base.html'%}
{{block.super}}
{% block content %}


          <div class="row">

            {% for i in businesseses %}
        
             
            
                <div  style="margin-left:30%;margin-top:2%">
                        <div>
                          <p>{{i.business_name}}</p>
                          <p>{{i.email_adress}}</p> 
                          <p>{{i.posted_by}}</p>
                        </div>
                </div>
                      <hr>
                {%endfor%}
          </div>