{%extends 'base.html'%}
{{block.super}}
{% block content %}




<div class="one" style="width:100%">

      
          <div class="row">

                    {% for x in neighborhood %}
                
                 
                    
                        <div  style="margin-left:30%;margin-top:2%">
                          
                                <a href="{% url 'neighborhood' x.id %}">{{x.neighborhood_name}}</a>
                                <br>
                               
                            
                        
                        </div>
                              <hr>
                        {%endfor%}
              </div>
      
</div>


{% endblock %}
        
