{%extends 'base.html'%}
{{block.super}}
{% block content %}


<style>
  
  .one{
    width:100%;
  } 
  .three{
    width:100%;
  } 
  .button {
 
 
 
 
  
  
 
  
  
  
} 
 
 </style>



      <!-- <div style="width:100%;height:30%">
          <img src="https://www.bandt.com.au/information/uploads/2018/10/iStock-939840782-1-1260x840.jpg" style="width:70%;height:10%;margin-left: 15%">
      </div> -->

          <div class="row">

                    {% for x in Images %}
                
                      <!-- <div data-toggle="modal" data-target="#{{x.id}}" style="width:69%;margin-left:30%" > -->
                        <!--Display   images  -->
                        <!-- <img class="img-responsive"style="width:50%;padding-top:5%" src="{{x.neighborhood_name}}" alt="">
                      </div> -->
                    
                        <div  style="margin-left:30%;margin-top:2%">
                                <div>
                                  <!-- <p>Title:{{x.title}}</p>  -->
                                <!-- <p>{{x.neighborhood_name}}</p> -->
                                </div>
                              
                                <!-- <a href="{{x.link}}"> Visit This Site</a> -->
                                <br>
                                <a href="{% url 'neighborhood'  %}"> {{x.neighborhood_name}}</a>
                                <br>
                                <!-- <a href="{% url 'comment' x.id %}">Live Your Comment</a>
                             -->
                                <!-- {% for coment in x.comment_set.all %}
                                <p>{{coment.comment}}</p>
                                {% empty %}
                                {% endfor %} -->
                            
                        
                        </div>
                              <hr>
                        {%endfor%}
              </div>
      
</div>


{% endblock %}
        
