{%extends 'base.html'%}
{% block content %}
 <div class="row container-fluid content">
   <div class="col-md-4">
     <h1 class="mt-5">Location:</h1>
     {% for image in images %}
       <h1 class="ml-5">{{image.location}}</h1>
     {% endfor %}
   </div>
   <div class="col-md-4">
     <div class="card mt-3">
       {% if images %}
         {% for image in images  %}
         <img style="width:80%;padding-top:20%;height:80%"src="{{image.img.url}}" alt="" width="300" height='250'>
         <p>{{image.name}}</p>
         <p>{{image.description}}</p>
         <p>{{image.category}}</p>
         {% endfor %}
       {% else %}
         <p>No image with that location </p>
       {% endif %}
     </div>
   </div>
 </div>
{% endblock %}
